version: '3.8'

services:
  # postgres-dev:
  #   image: postgres:17
  #   container_name: postgres-dev
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_USER: devuser
  #     POSTGRES_PASSWORD: dev1234
  #     POSTGRES_DB: beca_java
  #   ports:
  #     - '5432:5432'
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   networks:
  #     - finance-net

  # pgadmin-dev:
  #   image: dpage/pgadmin4:latest
  #   container_name: pgadmin-dev
  #   restart: unless-stopped
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: admin123
  #   ports:
  #     - '5050:80'
  #   networks:
  #     - finance-net

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - finance-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0 # Versão específica e estável para Zookeeper
    container_name: kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - finance-net

networks:
  finance-net:
    driver: bridge

volumes:
  postgres_data:
  kafka_data:
